*{margin: 0px;
padding: 0px;}

.matha{
   
    background-color: rgb(17, 16, 16);
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.logo-photo{width: 150px;
   
    
}
.menu{
    color: white;
    list-style: none;
    display: flex;
    
}
.lion{
    margin-left: 10px; padding: 7px;
    font-size: 20px; 
}

.pet{display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-image: url("./images/background.png"),linear-gradient(45deg, rgb(8,8,8),rgb(53 ,53, 53)); color:white;
    
    
}
.image{
    width: 300px;
}
.texta{
   
    font-size: 45px;
}
.descri{
    font-size: 20px;
    margin-top: 10px;
    padding: 5px;
    margin-bottom: 10px;
}
button{padding: 10px;
background-color: red;
color: white;
font-size: 18px;
border-style: none;
border-radius:5px ;}
.middle_part{display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row-reverse;
    
}
.About_us{
    font-size: 45px;
    text-align: center;
    margin-top: 14px;
    padding: 10px;
}
.vanga{
    margin-left: 800px;
    font-size: 20px;
}
.des_text{
    margin-top: 10px;
    margin-bottom: 10px;
    padding 8px
}
.ptr{
    margin-left: 60px;
    padding:20px;
}
.baba{display: flex;
justify-content: space-around;}

.box{
    width: 230px;
    height: 280px;
    box-shadow: 4px 4px 15px gray;
    background-color: black;
    text-align: center;
    padding: 15px;
    color: white;
}
.title{font-size: 36px;
text-align: center;
margin-bottom: 40px;
color:white;}

.boxbttn{
    margin-top: 20px;
    background-color: gray;
    padding:5px 10px 5px 10px ;
}
.guru{background-color: rgb(110, 110, 110);}
.icon{width: 70px;}